@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Sigmar", serif;
    height: 100vh;
    background-image: url(/src/assets/pre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}